@use "../../../scss/" as *;

.toasts {
  @include themify($themes) {
    position: absolute;
    width: 310px;
    max-height: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    top: 0px;
    right: 20px;
    z-index: 11;
    .toast {
      background-color: themed(textColor);
      color: themed(bg);
      padding: 10px;
      transform: translateX(150%);
      animation: show 5s ease-in-out ;
    }
    .toast-header__avatar {
      width: 40px;
      height: 40px;
      display: flex;
      border-radius: 50%;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }
}
@keyframes show {
    0% {
        opacity: 0.7;
        transform: translateX(150%);
    }
    10% {
        opacity: 1;
        transform: translateX(-10%);
    }
    20% {
        transform: translateX(20%);
    }
    50% {
        transform: translateX(0%);
    }
    90% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(150%);
    }
}