@use "../../scss/" as *;

.messenger {
  @include themify($themes) {
    display: flex;
    height: calc(100vh - calc($height-header));
    top: calc($height-header);
    position: sticky;
    .conversations {
      flex: 3;
    }
    .messenges {
      flex: 5.5;
    }
    .online {
      flex: 3;

      @include desktop-xl {
        display: none;
      }
    }
  }
}
