@use "../../scss/" as *;

.right-bar {
  @include themify($themes) {
    width: 360px;
    padding: 0px 20px;
    height: calc(100vh - calc($height-header + 20px));
    top:calc($height-header);
    overflow-y: scroll;  
    z-index: 1; 
    position: sticky;
    @include webkit-bar;
    @include desktop {
        & {
            padding: 0px 10px 0px 20px;
            display: none;
        }
    }
    &__items {
        display: flex;
        gap:10px;
        flex-direction: column;
        border-bottom: 1px solid themed(border);
        padding: 12px 0px 14px 0px;

        &:last-child {
            border-bottom: 1px solid transparent!important;
        }
        &__title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            h4 {
                color:themed(textColorSoft);
                font-weight: 500;
            }
            span {
            color:rgb(170 170 226);
            font-size: 1.3rem;
            }


            &__icons {
                display: flex;
                gap:22px;
                font-size: 1.8rem;
                color:themed(textColorSoft);
            }
        }

        &__item {
            display: flex;
            align-items: flex-start;
            gap:12px;
          
            img {
                width: 60px;
                height: 60px;
                object-fit: cover;
                border-radius: 50%;
            }
            &__birthday {
                
                    color:themed(textColor);
                    a {
                        color:red;
                    }
                
            }
            &__birthday-img {
                border-radius: 10px!important;
            }
            &__right {
                display: flex;
                flex-direction: column;
                gap:10px;
                width: 100%;
                &__title {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 2rem;
                    color:themed(textColor);
                    h6 {
                        font-weight: 600;
                        display: flex;
                        align-items: center;
                    }
                    span {
                        font-size: 1.2rem;
                        font-weight: 200;
                        display: flex;
                        align-items: center;
                    }
                }

              
            }
        }


        &__accounts {
            display: flex;
            flex-direction: column;
            gap:1px;
            &__account {
                display: flex;
                gap:10px;
                align-items: center;
                transition:  background-color 0.1s linear;
                padding: 6px 0px;
                cursor: pointer;
                border-radius: 4px;
                &:hover {
                    background-color: rgba(0, 0, 0, 0.1);
                }
               &__image {
                width: 32px;
                height: 32px;
                position: relative;
                z-index: 1;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                }
                &__circle {
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color:greenyellow;
                    border: 1.2px solid themed(bg);
                    bottom:0px;
                    right: 0px;
                    z-index: 1;
                }
               }
               
                &__name {
                    font-size: 1.4rem;
                    font-weight: 500;
                    color:themed(textColor);
                }
               
            }
        }
    }

   
    }
  }
